{#
SPDX-FileCopyrightText: 2026 Goethe-University Frankfurt – Institute for Digital Medicine and Clinical Data Science
SPDX-FileCopyrightText: 2026 Mirian Brechtel <markus.katharina.brechtel@thengo.net>

SPDX-License-Identifier: EUPL-1.2
#}
# This file is managed by the osahris.cute_devops.oauth2_proxy Ansible role!
# MANUAL CHANGES WILL BE OVERWRITTEN WITHOUT WARNING!

{{ instance.value.vhost }} {
	reverse_proxy {{ oauth2_proxy_instance_upstream }} {
		header_up X-Real-IP {remote_host}
	}
}
