{#
SPDX-FileCopyrightText: 2016 - 2026 Mirian Brechtel <markus.katharina.brechtel@thengo.net>
SPDX-FileCopyrightText: 2020 - 2025 Uniklinik Köln
SPDX-FileCopyrightText: 2025 - 2026 Goethe-University Frankfurt – Institute for Digital Medicine and Clinical Data Science

SPDX-License-Identifier: EUPL-1.2
#}
// This file is managed by the osahris.cute_devops.vms Ansible role!
// MANUAL CHANGES WILL BE OVERWRITTEN WITHOUT WARNING!

// Members of {{ vms_admin_group }} may start/stop/restart VM units.
polkit.addRule(function(action, subject) {
    if (action.id == "org.freedesktop.systemd1.manage-units" &&
        action.lookup("unit") &&
        /^vm@.+\.service$/.test(action.lookup("unit")) &&
        subject.isInGroup("{{ vms_admin_group }}")) {
        return polkit.Result.YES;
    }
});
